@import url(https://fonts.googleapis.com/css?family=Arimo:400,700&subset=latin,latin-ext);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, /Users/benweatherman/code/git♥issues/node_modules/node-neat/assets/stylesheets/grid/box-sizing */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, /Users/benweatherman/code/git♥issues/node_modules/node-neat/assets/stylesheets/grid/box-sizing */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*------------------------------------*\
    #BASE STYLES
\*------------------------------------*/
/* line 13, /Users/benweatherman/code/git♥issues/src/sass/base */
html, body {
  height: 100%;
  font-size: 100%;
  padding: 0;
  margin: 0; }

/* line 20, /Users/benweatherman/code/git♥issues/src/sass/base */
.page {
  font-family: 'Arimo', sans-serif;
  color: #444;
  background: #eee;
  position: relative;
  text-align: center; }

/* line 28, /Users/benweatherman/code/git♥issues/src/sass/base */
.content {
  width: 92%;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out 0;
  -moz-transition: all 0.3s ease-out 0;
  transition: all 0.3s ease-out 0; }

/* line 36, /Users/benweatherman/code/git♥issues/src/sass/base */
.subcontent-wrap--outer {
  position: relative; }

/* line 40, /Users/benweatherman/code/git♥issues/src/sass/base */
.subcontent-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0.8em;
  overflow-x: auto;
  overflow-y: hidden; }
  /* line 52, /Users/benweatherman/code/git♥issues/src/sass/base */
  .subcontent-wrap::-webkit-scrollbar {
    height: 0.85em;
    width: 0.85em;
    margin-top: 0.5em; }
  /* line 58, /Users/benweatherman/code/git♥issues/src/sass/base */
  .subcontent-wrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4); }
  /* line 63, /Users/benweatherman/code/git♥issues/src/sass/base */
  .subcontent-wrap::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2); }

/* line 69, /Users/benweatherman/code/git♥issues/src/sass/base */
.subcontent {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 12em;
  -moz-flex: 0 0 12em;
  -ms-flex: 0 0 12em;
  flex: 0 0 12em;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  margin-left: 1.75em;
  max-height: 100%; }
  /* line 75, /Users/benweatherman/code/git♥issues/src/sass/base */
  .subcontent:first-of-type {
    margin-left: 0; }
  /* line 78, /Users/benweatherman/code/git♥issues/src/sass/base */
  .subcontent.ui-sortable-helper {
    padding: 0 1em;
    border: 3px dashed #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.25em 1.25em;
    background: #ccc; }

/* line 86, /Users/benweatherman/code/git♥issues/src/sass/base */
.subcontent--drawer {
  padding: 0 1em 1em 1em;
  background: #ddd;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 14em;
  -moz-flex: 0 0 14em;
  -ms-flex: 0 0 14em;
  flex: 0 0 14em;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-transition: all 0.3s ease-out 0;
  -moz-transition: all 0.3s ease-out 0;
  transition: all 0.3s ease-out 0;
  position: absolute;
  z-index: 2;
  left: -14.02em;
  max-height: 100%;
  width: 14em; }
  /* line 99, /Users/benweatherman/code/git♥issues/src/sass/base */
  .subcontent--drawer .subheader {
    border-top: 2px solid #ccc; }
  /* line 103, /Users/benweatherman/code/git♥issues/src/sass/base */
  .subcontent--drawer .sortable {
    min-height: 1em; }

/* line 109, /Users/benweatherman/code/git♥issues/src/sass/base */
.drawer-in {
  padding-left: 13em; }
  /* line 112, /Users/benweatherman/code/git♥issues/src/sass/base */
  .drawer-in .subcontent--drawer {
    left: 0; }
  /* line 116, /Users/benweatherman/code/git♥issues/src/sass/base */
  .drawer-in .btn--toggle {
    right: 0.5em;
    font-size: 1em;
    top: 1.5em;
    background: transparent; }
  /* line 126, /Users/benweatherman/code/git♥issues/src/sass/base */
  .drawer-in .hide--drawer-in {
    display: none; }
  /* line 130, /Users/benweatherman/code/git♥issues/src/sass/base */
  .drawer-in .hide--drawer-out {
    display: inline-block; }

/* line 135, /Users/benweatherman/code/git♥issues/src/sass/base */
.list {
  padding: 0 0.5em 0 0;
  margin-top: 0.5em;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0.9em;
  min-height: 30em; }
  /* line 142, /Users/benweatherman/code/git♥issues/src/sass/base */
  .list::-webkit-scrollbar {
    height: 0.5em;
    width: 0.5em; }
  /* line 147, /Users/benweatherman/code/git♥issues/src/sass/base */
  .list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3); }
  /* line 152, /Users/benweatherman/code/git♥issues/src/sass/base */
  .list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.15); }

/* line 158, /Users/benweatherman/code/git♥issues/src/sass/base */
.list--drawer {
  padding-right: 1em; }

/* line 162, /Users/benweatherman/code/git♥issues/src/sass/base */
.list__item {
  font-size: 0.9em;
  list-style-type: none;
  margin: 0 0 1em 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.1em 0.2em;
  border-radius: 0.2em;
  position: relative; }
  /* line 171, /Users/benweatherman/code/git♥issues/src/sass/base */
  .list__item a {
    padding: 1em;
    display: block;
    word-wrap: break-word;
    text-decoration: none; }
    /* line 177, /Users/benweatherman/code/git♥issues/src/sass/base */
    .list__item a span {
      color: #777; }
    /* line 181, /Users/benweatherman/code/git♥issues/src/sass/base */
    .list__item a strong {
      font-size: 1.1em;
      color: #444; }
    /* line 188, /Users/benweatherman/code/git♥issues/src/sass/base */
    .list__item a:hover span {
      color: #444; }
    /* line 192, /Users/benweatherman/code/git♥issues/src/sass/base */
    .list__item a:hover strong {
      color: #111; }

/* line 199, /Users/benweatherman/code/git♥issues/src/sass/base */
.list--tags {
  padding: 0 1em;
  margin-bottom: 0;
  position: relative;
  top: -0.75em; }

/* line 206, /Users/benweatherman/code/git♥issues/src/sass/base */
.list__item--tag {
  display: inline-block;
  height: 0.5em;
  width: 1.25em; }

/* line 212, /Users/benweatherman/code/git♥issues/src/sass/base */
.subheader {
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  border-top: 2px solid #ddd;
  text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0; }

/* line 219, /Users/benweatherman/code/git♥issues/src/sass/base */
.subheader__link {
  color: #444;
  text-decoration: none; }
  /* line 222, /Users/benweatherman/code/git♥issues/src/sass/base */
  .subheader__link:hover {
    color: #111;
    border-bottom: 1px dotted #aaa; }

/* line 228, /Users/benweatherman/code/git♥issues/src/sass/base */
.img--avatar {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.2s ease-out 0;
  -moz-transition: all 0.2s ease-out 0;
  transition: all 0.2s ease-out 0; }

/* line 234, /Users/benweatherman/code/git♥issues/src/sass/base */
.avatar {
  border: 2px solid #fff;
  width: 2em;
  height: 2em;
  margin-right: 0.25em;
  vertical-align: middle; }

/* line 242, /Users/benweatherman/code/git♥issues/src/sass/base */
.ui-sortable-helper {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0.5em 1em; }

/*------------------------------------*\
    #FORMS
\*------------------------------------*/
/* line 251, /Users/benweatherman/code/git♥issues/src/sass/base */
.form-list {
  padding-left: 0;
  font-size: 0.9em; }

/* line 256, /Users/benweatherman/code/git♥issues/src/sass/base */
.form-list__item {
  font-size: 1.25em;
  margin-bottom: 1.15em;
  list-style-type: none; }
  /* line 261, /Users/benweatherman/code/git♥issues/src/sass/base */
  .form-list__item label {
    display: block;
    margin-bottom: 0.1em;
    text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0; }
    /* line 266, /Users/benweatherman/code/git♥issues/src/sass/base */
    .form-list__item label a, .form-list__item label a:hover {
      color: #111; }
  /* line 271, /Users/benweatherman/code/git♥issues/src/sass/base */
  .form-list__item:last-of-type {
    margin-bottom: 0; }

/* line 276, /Users/benweatherman/code/git♥issues/src/sass/base */
.text-input {
  width: 100%;
  border: 2px solid #999;
  color: #777;
  border-radius: 0.5em;
  height: 3em;
  font-family: 'Arimo', sans-serif;
  font-size: 0.85em;
  padding: 0.25em 0.5em; }
  /* line 285, /Users/benweatherman/code/git♥issues/src/sass/base */
  .text-input:focus {
    outline: none;
    border: 2px solid #444;
    color: #444; }

/* line 293, /Users/benweatherman/code/git♥issues/src/sass/base */
.error-message {
  display: none; }

/* line 298, /Users/benweatherman/code/git♥issues/src/sass/base */
.error label {
  color: #ff0000; }
/* line 301, /Users/benweatherman/code/git♥issues/src/sass/base */
.error .text-input {
  border-color: #ff0000;
  color: #ff0000; }
  /* line 304, /Users/benweatherman/code/git♥issues/src/sass/base */
  .error .text-input:focus {
    color: #444; }
/* line 308, /Users/benweatherman/code/git♥issues/src/sass/base */
.error .error-message {
  background: #ff0000;
  color: #fff;
  padding: 0.7em;
  border-radius: 0 0 0.5em 0.5em;
  -webkit-font-smoothing: antialiased;
  font-size: 0.85em;
  font-weight: bold;
  margin-top: -0.35em;
  display: block;
  position: relative; }
  /* line 319, /Users/benweatherman/code/git♥issues/src/sass/base */
  .error .error-message pre {
    white-space: normal;
    margin: 0.35em 0; }
    /* line 322, /Users/benweatherman/code/git♥issues/src/sass/base */
    .error .error-message pre .make-block {
      margin-bottom: 0.3em; }

/* line 329, /Users/benweatherman/code/git♥issues/src/sass/base */
.search {
  margin: 1.25em 0 0.5em 0;
  font-size: 0.7em;
  padding: 0.25em 0.5em 0.25em 2.35em;
  position: relative;
  width: 90%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
  -webkit-flex: 0 0 3em;
  -moz-flex: 0 0 3em;
  -ms-flex: 0 0 3em;
  flex: 0 0 3em;
  z-index: 10;
  background: #fff url(http://449b5aa70d3b497fd542-78ae780b3f7953ce47f76a52edee37a4.r48.cf2.rackcdn.com/search-grey-16.png) 0.5em 0.65em no-repeat; }
  /* line 339, /Users/benweatherman/code/git♥issues/src/sass/base */
  .search:focus {
    width: 175%;
    box-shadow: rgba(255, 255, 255, 0.7) 0 0em 2em; }

/* line 345, /Users/benweatherman/code/git♥issues/src/sass/base */
.helper-message {
  background: #777;
  color: #ffff99;
  padding: 0.5em 0.75em;
  border-radius: 0 0 0.5em 0.5em;
  -webkit-font-smoothing: antialiased;
  font-size: 0.85em;
  line-height: 1.35;
  font-weight: bold;
  margin-top: -0.35em;
  display: block;
  position: relative; }
  /* line 357, /Users/benweatherman/code/git♥issues/src/sass/base */
  .helper-message pre {
    color: #fff;
    line-height: 1;
    white-space: normal;
    margin: 0.75em 0; }
    /* line 362, /Users/benweatherman/code/git♥issues/src/sass/base */
    .helper-message pre .make-block {
      margin-bottom: 0.75em; }

/*------------------------------------*\
    #POPOVERS
\*------------------------------------*/
/* line 373, /Users/benweatherman/code/git♥issues/src/sass/base */
.popover-wrap {
  position: relative;
  display: block;
  margin-top: 0.25em; }

/* line 379, /Users/benweatherman/code/git♥issues/src/sass/base */
.popover {
  position: static;
  width: 100%;
  z-index: 5;
  background: #999;
  margin-top: -1px;
  border-radius: 0 0.2em 0.2em 0.2em;
  padding: 0; }

/* line 389, /Users/benweatherman/code/git♥issues/src/sass/base */
.popover-list {
  padding-left: 0;
  list-style: none;
  font-size: 0.9em; }

/* line 395, /Users/benweatherman/code/git♥issues/src/sass/base */
.popover-list__item {
  font-size: 0.9em;
  margin: 0; }
  /* line 400, /Users/benweatherman/code/git♥issues/src/sass/base */
  .popover-list__item:last-of-type .btn--assign {
    border-bottom: 0;
    border-radius: 0 0 0.25em 0.25em; }

/* line 408, /Users/benweatherman/code/git♥issues/src/sass/base */
.expanded .btn--popover {
  background: #888;
  padding-bottom: 0.8em;
  color: #fff;
  border-top: 1px solid #888;
  font-weight: 700;
  -webkit-font-smoothing: antialiased; }
  /* line 416, /Users/benweatherman/code/git♥issues/src/sass/base */
  .expanded .btn--popover:hover, .expanded .btn--popover:focus {
    color: #fff; }

/*------------------------------------*\
    #MODALS
\*------------------------------------*/
/* line 426, /Users/benweatherman/code/git♥issues/src/sass/base */
.modal-bg {
  position: fixed;
  z-index: 98;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  background: rgba(0, 0, 0, 0.8);
  display: none; }
  /* line 438, /Users/benweatherman/code/git♥issues/src/sass/base */
  .modal-bg.in {
    display: block;
    visibility: visible;
    opacity: 1; }

/* line 445, /Users/benweatherman/code/git♥issues/src/sass/base */
.modal {
  position: absolute;
  z-index: 99;
  width: 30em;
  padding: 2em;
  border-radius: 0.35em;
  border: 5px solid #fff;
  background: #ddd;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 0.5em;
  top: 5%;
  left: 35%; }
  /* line 456, /Users/benweatherman/code/git♥issues/src/sass/base */
  .modal h2 {
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0; }

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/* line 470, /Users/benweatherman/code/git♥issues/src/sass/base */
.btn {
  border-radius: 0.25em;
  -webkit-transition: all 0.5s ease-out 0;
  -moz-transition: all 0.5s ease-out 0;
  transition: all 0.5s ease-out 0;
  border: 2px solid #a04500;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Arimo", sans-serif;
  font-size: 1em;
  font-weight: 700;
  background-image: -webkit-linear-gradient( #EC6600, #c85700);
  background-image: linear-gradient( #EC6600, #c85700);
  text-transform: uppercase;
  padding: 0.75em 2em; }
  /* line 484, /Users/benweatherman/code/git♥issues/src/sass/base */
  .btn:hover, .btn:focus {
    cursor: pointer;
    outline: none;
    background-image: -webkit-linear-gradient( #EC6600, #af4c00);
    background-image: linear-gradient( #EC6600, #af4c00);
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
    border: 2px solid #863a00;
    box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset; }

/* line 494, /Users/benweatherman/code/git♥issues/src/sass/base */
.btn--icon {
  margin: 0;
  background: transparent;
  -webkit-transition: all 0.3s ease-out 0;
  -moz-transition: all 0.3s ease-out 0;
  transition: all 0.3s ease-out 0;
  margin-bottom: 0;
  border: 0;
  padding: 0;
  text-align: left;
  display: inline-block;
  font-size: 0.8em;
  opacity: 0.3; }
  /* line 506, /Users/benweatherman/code/git♥issues/src/sass/base */
  .btn--icon:hover, .btn--icon:focus {
    outline: none;
    opacity: 0.6;
    cursor: pointer; }

/* line 513, /Users/benweatherman/code/git♥issues/src/sass/base */
.btn--avatar {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  text-align: center;
  font-size: 1em;
  z-index: 3; }
  /* line 527, /Users/benweatherman/code/git♥issues/src/sass/base */
  .btn--avatar .fa {
    -webkit-transition: all 0.2s ease-out 0;
    -moz-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0;
    color: #EC6600;
    font-size: 1.5em;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0.1em; }
  /* line 537, /Users/benweatherman/code/git♥issues/src/sass/base */
  .btn--avatar:hover {
    cursor: pointer;
    outline: none; }
    /* line 541, /Users/benweatherman/code/git♥issues/src/sass/base */
    .btn--avatar:hover .fa {
      opacity: 0.8; }
    /* line 545, /Users/benweatherman/code/git♥issues/src/sass/base */
    .btn--avatar:hover .img--avatar {
      opacity: 0.2; }

/* line 551, /Users/benweatherman/code/git♥issues/src/sass/base */
.btn--settings {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1.5;
  padding: 0.1em 0.25em;
  z-index: 3; }

/* line 560, /Users/benweatherman/code/git♥issues/src/sass/base */
.btn--toggle {
  text-align: center;
  opacity: 1;
  position: absolute;
  top: 1.85em;
  right: -1.75em;
  padding: 0;
  border-radius: 0 0.25em 0.25em 0;
  background: #ccc; }
  /* line 570, /Users/benweatherman/code/git♥issues/src/sass/base */
  .btn--toggle .fa {
    opacity: 0.4;
    padding: 0.5em; }
  /* line 575, /Users/benweatherman/code/git♥issues/src/sass/base */
  .btn--toggle:hover {
    opacity: 1; }
    /* line 577, /Users/benweatherman/code/git♥issues/src/sass/base */
    .btn--toggle:hover .fa {
      opacity: 0.7; }

/* line 583, /Users/benweatherman/code/git♥issues/src/sass/base */
.btn--remove {
  position: absolute;
  top: 0.25em;
  right: 0.5em;
  font-size: 1em;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0;
  -moz-transition: all 0.2s ease-out 0;
  transition: all 0.2s ease-out 0; }

/* line 593, /Users/benweatherman/code/git♥issues/src/sass/base */
.list__item:hover .btn--remove {
  opacity: 0.3; }
  /* line 596, /Users/benweatherman/code/git♥issues/src/sass/base */
  .list__item:hover .btn--remove:hover {
    opacity: 0.5; }

/* line 602, /Users/benweatherman/code/git♥issues/src/sass/base */
.btn--popover {
  background: #fff;
  text-align: left;
  color: #ccc;
  width: 100%;
  border: 0;
  border-top: 1px dotted #ddd;
  font-family: 'Arimo', sans-serif;
  padding: 0.75em 1em 0.75em 1.25em;
  border-radius: 0 0 0.25em 0.25em; }
  /* line 613, /Users/benweatherman/code/git♥issues/src/sass/base */
  .btn--popover:hover, .btn--popover:focus {
    color: #999;
    cursor: pointer;
    outline: none; }

/* line 620, /Users/benweatherman/code/git♥issues/src/sass/base */
.btn--assign {
  -webkit-font-smoothing: antialiased;
  border: 0;
  background: transparent;
  width: 100%;
  text-align: left;
  font-family: 'Arimo', sans-serif;
  font-size: 1.35em;
  vertical-align: middle;
  padding: 0.5em 1em;
  margin: 0;
  color: #fff;
  border-bottom: 1px dotted #bbb; }
  /* line 634, /Users/benweatherman/code/git♥issues/src/sass/base */
  .btn--assign:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15); }
  /* line 639, /Users/benweatherman/code/git♥issues/src/sass/base */
  .btn--assign:focus {
    outline: none; }

/* line 644, /Users/benweatherman/code/git♥issues/src/sass/base */
.btn--assign-text {
  vertical-align: middle; }

/*------------------------------------*\
    #HELPERS
\*------------------------------------*/
/* line 651, /Users/benweatherman/code/git♥issues/src/sass/base */
.make-block {
  display: block; }

/* line 653, /Users/benweatherman/code/git♥issues/src/sass/base */
.make-inline-block {
  display: inline-block; }

/* line 655, /Users/benweatherman/code/git♥issues/src/sass/base */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 661, /Users/benweatherman/code/git♥issues/src/sass/base */
.right {
  float: right; }

/* line 663, /Users/benweatherman/code/git♥issues/src/sass/base */
.full-width {
  width: 100%; }

/* line 665, /Users/benweatherman/code/git♥issues/src/sass/base */
.hide--drawer-out {
  display: none; }

