@import 'bourbon';
@import 'neat';
@import 'fonts';
@import 'icons';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css';

// http://www.paletton.com/#uid=30s0u0kQytz00yfuMPRRRgD++00
$primary-color: #EC6600;

html, body {
    height: 100%;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arimo', sans-serif;
    color: #444;
    background: #eee;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    overflow-x: scroll;
}

ul, li {
    list-style-type: none;
    font-size: .9em;
}

.template-wrap {
    min-width: 101em;
    .sortable-container {
        @include span-columns(2);
        width: 12em;
    }

    .open-issues-wrap {
        padding: 0 1em 1em 1em;
        background: #ddd;
        width: 14em;
        .list-header {
            border-top: 2px solid #ccc;
        }
        .sortable {
            min-height: 1em;
        }
    }

    .sortable {
        padding-left: 0;
        margin-top: .5em;
        min-height: 25em;
    }
}

.issue {
    margin: 0 0 1em 0;
    background: #fff;
    box-shadow: rgba(0,0,0,.2) 0 .1em .2em;
    border-radius: .2em;
    position: relative;

    a {
        padding: 1em;
        display: block;
        word-wrap: break-word;
        text-decoration: none;
        span {
            color: #777;
        }
        strong {font-size: 1.1em;
            color: #444;
        }
        &:hover {
            span {
                color: #444;
            }
            strong {
                color: #111;
            }
        }
    }
}

.list-header {
    margin-bottom: .5em;
    padding-top: .5em;
    border-top: 2px solid #ddd;
    text-shadow: rgba(255,255,255, .6) 0 1px 0;
}

.avatar-wrap {
    width: 1.5em;
    height: 1.5em;
    &.issue-avatar {
        position: absolute;
        top: .5em;
        right: .5em;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.popover-avatar {
    border: 2px solid #fff;
    width: 2em;
    height: 2em;
    margin-right: .25em;
    vertical-align: middle;
}

.assign-button {
    background: #fff;
    text-align: left;
    color: #ccc;
    width: 100%;
    border: 0;
    border-top: 1px dotted #ddd;
    font-family: 'Arimo', sans-serif;
    padding: .35em 1em .35em 1.25em;
    &:hover, &:focus {
        color: #999;
        cursor: pointer;
        outline: none;
    }
}

.expanded {
    .assign-button {
        background: #888;
        padding-bottom: .55em;
        color: #fff;
        border-top: 1px solid #888;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;
    }
}

.ui-sortable-helper {
    box-shadow: rgba(0,0,0,.3) 0 .5em 1em;
}


//Forms

.form-list {
    padding-left: 0;
}
.form-list-item {
    font-size: 1.25em;
    margin-bottom: 1.15em;
    label {
        display: block;
        margin-bottom: .1em;
        text-shadow: rgba(255,255,255, .6) 0 1px 0;
        a, a:hover {
            color: #111;
        }
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

.text-input {
    width: 100%;
    border: 2px solid #999;
    color: #777;
    border-radius: .5em;
    height: 3em;
    font-family: 'Arimo', sans-serif;
    font-size: .85em;
    padding: .25em .5em;
    &:focus {
        outline: none;
        border: 2px solid #444;
        color: #444;
    }

}

.error-message {
    display: none;
}

.error {
    label {
        color: #ff0000;
    }
    .text-input {
        border-color: #ff0000;
        color: #ff0000;
        &:focus {
            color: #444;
        }
    }
    .error-message {
        background: #ff0000;
        color: #fff;
        padding: .7em;
        border-radius: 0 0 .5em .5em;
        -webkit-font-smoothing: antialiased;
        font-size: .85em;
        font-weight: bold;
        margin-top: -.35em;
        display: block;
        position: relative;
        pre {
            white-space: normal;
            margin: .35em 0;
            .make-block {
                margin-bottom: .3em;
            }
        }
    }
}

.search {
    margin-bottom: .75em;
    font-size: .7em;
    padding: .25em .5em .25em 2.35em;
    position: relative;
    z-index: 10;
    background: #fff url(http://449b5aa70d3b497fd542-78ae780b3f7953ce47f76a52edee37a4.r48.cf2.rackcdn.com/search-grey-16.png) .5em .65em no-repeat;
    &:focus {
        width: 175%;
        box-shadow: rgba(255,255,255,.7) 0 0em 2em;
    }
}

.helper-message {
    background: #777;
    color: lighten(#ffff00, 30%);
    padding: .5em .75em;
    border-radius: 0 0 .5em .5em;
    -webkit-font-smoothing: antialiased;
    font-size: .85em;
    line-height: 1.35;
    font-weight: bold;
    margin-top: -.35em;
    display: block;
    position: relative;
    pre {
        color: #fff;
        line-height: 1;
        white-space: normal;
        margin: .75em 0;
        .make-block {
            margin-bottom: .75em;
        }
    }
}

//Buttons
.button {
    border-radius: .25em;
    @include transition(all .5s ease-out 0);
    border: 2px solid darken($primary-color, 15%);
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
    color: #fff;
    text-shadow: rgba(0,0,0,.3) 0 1px 0;
    -webkit-font-smoothing: antialiased;
    font-family: "Arimo", sans-serif;
    font-size: 1em;
    font-weight: 700;
    @include background-image(linear-gradient($primary-color, darken($primary-color, 7%)));
    text-transform: uppercase;
    padding: .75em 2em;
    &:hover, &:focus {
        cursor: pointer;
        outline: none;
        @include background-image(linear-gradient($primary-color, darken($primary-color, 12%)));
        box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
        border: 2px solid darken($primary-color, 20%);
        box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
    }
}

.secondary-button, .secondary-button:hover {
    background: transparent;
    text-transform: none;
    border: 0;
    box-shadow: none;
    text-shadow: rgba(255,255,255, .6) 0 1px 0;
    color: #999;
    padding: .75em;
}
.secondary-button:hover {
    color: #777;
}


//Helpers
.make-block {display: block;}
.make-inline-block {display: inline-block;}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.right {
    float: right;
}
.fatty {
    width: 100%;
}
