@import 'bourbon';
@import 'neat';
@import 'font-awesome';
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700&subset=latin,latin-ext);

/*------------------------------------*\
    #BASE STYLES
\*------------------------------------*/

// http://www.paletton.com/#uid=30s0u0kQytz00yfuMPRRRgD++00
$primary-color: #EC6600;

html, body {
    height: 100%;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.page {
    font-family: 'Arimo', sans-serif;
    color: #444;
    background: #eee;
    position: relative;
    text-align: center;
}

.content {
    width: 92%;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    @include transition(all 0.3s ease-out 0);
}

.subcontent-wrap--outer {
    position: relative;
}

.subcontent-wrap {
    @include display(flex);
    @include flex-direction(row);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: .8em;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        height: .85em;
        width: .85em;
        margin-top: .5em;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0,0,0,.4);
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0,0,0,.2);
    }
}

.subcontent {
    @include display(flex);
    @include flex(0 0 12em);
    @include flex-direction(column);
    margin-left: 1.75em;
    max-height: 100%;
    &:first-of-type {
        margin-left: 0;
    }
    &.ui-sortable-helper {
        padding: 0 1em;
        border: 3px dashed #fff;
        box-shadow: rgba(0,0,0,.25) 0 .25em 1.25em;
        background: #ccc;
    }
}

.subcontent--drawer {
    padding: 0 1em 1em 1em;
    background: #ddd;
    @include display(flex);
    @include flex(0 0 14em);
    @include flex-direction(column);
    @include transition(all 0.3s ease-out 0);
    position: absolute;
    z-index: 2;
    left: -14.02em;
    max-height: 100%;
    width: 14em;

    .subheader {
        border-top: 2px solid #ccc;
    }

    .sortable {
        min-height: 1em;
    }

}

.drawer-in {
    padding-left: 13em;

    .subcontent--drawer {
        left: 0;
    }

    .btn--toggle {
        right: .5em;
        font-size: 1em;
        top: 2.1em;
        background: transparent;
        .fa {

        }
    }

    .hide--drawer-in {
        display: none;
    }

    .hide--drawer-out {
        display: inline-block;
    }
}

.list {
    padding: 0 .5em 0 0;
    margin-top: .5em;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: .9em;
    min-height: 30em;
    &::-webkit-scrollbar {
        height: .5em;
        width: .5em;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0,0,0,.3);
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba(0,0,0,.15);
    }
}

.list--drawer {
    padding-right: 1em;
}

.list__item {
    font-size: .9em;
    list-style-type: none;
    margin: 0 0 1em 0;
    background: #fff;
    box-shadow: rgba(0,0,0,.2) 0 .1em .2em;
    border-radius: .2em;
    position: relative;

    a {
        padding: 1em;
        display: block;
        word-wrap: break-word;
        text-decoration: none;

        span {
            color: #777;
        }

        strong {
            font-size: 1.1em;
            color: #444;
        }

        &:hover {

            span {
                color: #444;
            }

            strong {
                color: #111;
            }
        }
    }
}

.list--tags {
    padding: 0 1em;
    margin-bottom: 0;
    position: relative;
    top: -0.75em;
}

.list__item--tag {
    display: inline-block;
    height: .5em;
    width: 1.25em;
}

.subheader {
    margin-bottom: .5em;
    margin-top: 2em;
    padding-top: .5em;
    border-top: 2px solid #ddd;
    text-shadow: rgba(255,255,255, .6) 0 1px 0;
}

.subheader__link {
    color: #444;
    text-decoration: none;
    &:hover {
        color: #111;
        border-bottom: 1px dotted #aaa;
    }
}

.img--avatar {
        width: 100%;
        height: auto;
        @include transition(all .2s ease-out 0);
    }

.avatar {
    border: 2px solid #fff;
    width: 2em;
    height: 2em;
    margin-right: .25em;
    vertical-align: middle;
}

.ui-sortable-helper {
    box-shadow: rgba(0,0,0,.3) 0 .5em 1em;
}


/*------------------------------------*\
    #FORMS
\*------------------------------------*/

.form-list {
    padding-left: 0;
    font-size: .9em;
}

.form-list__item {
    font-size: 1.25em;
    margin-bottom: 1.15em;
    list-style-type: none;

    label {
        display: block;
        margin-bottom: .1em;
        text-shadow: rgba(255,255,255, .6) 0 1px 0;

        a, a:hover {
            color: #111;
        }
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.text-input {
    width: 100%;
    border: 2px solid #999;
    color: #777;
    border-radius: .5em;
    height: 3em;
    font-family: 'Arimo', sans-serif;
    font-size: .85em;
    padding: .25em .5em;
    &:focus {
        outline: none;
        border: 2px solid #444;
        color: #444;
    }

}

.error-message {
    display: none;
}

.error {
    label {
        color: #ff0000;
    }
    .text-input {
        border-color: #ff0000;
        color: #ff0000;
        &:focus {
            color: #444;
        }
    }
    .error-message {
        background: #ff0000;
        color: #fff;
        padding: .7em;
        border-radius: 0 0 .5em .5em;
        -webkit-font-smoothing: antialiased;
        font-size: .85em;
        font-weight: bold;
        margin-top: -.35em;
        display: block;
        position: relative;
        pre {
            white-space: normal;
            margin: .35em 0;
            .make-block {
                margin-bottom: .3em;
            }
        }
    }
}

.search {
    margin: 1.25em 0 .5em 0;
    font-size: .7em;
    padding: .25em .5em .25em 2.35em;
    position: relative;
    width: 90%;
    @include display(flex);
    @include flex(0 0 3em);
    z-index: 10;
    background: #fff url(../images/search-grey-16.png) .5em .65em no-repeat;
    &:focus {
        width: 175%;
        box-shadow: rgba(255,255,255,.7) 0 0em 2em;
    }
}

.helper-message {
    background: #777;
    color: lighten(#ffff00, 30%);
    padding: .5em .75em;
    border-radius: 0 0 .5em .5em;
    -webkit-font-smoothing: antialiased;
    font-size: .85em;
    line-height: 1.35;
    font-weight: bold;
    margin-top: -.35em;
    display: block;
    position: relative;
    pre {
        color: #fff;
        line-height: 1;
        white-space: normal;
        margin: .75em 0;
        .make-block {
            margin-bottom: .75em;
        }
    }
}


/*------------------------------------*\
    #POPOVERS
\*------------------------------------*/

.popover-wrap {
    position: relative;
    display: block;
    margin-top: .25em;
}

.popover {
    position: static;
    width: 100%;
    z-index: 5;
    background: #999;
    margin-top: -1px;
    border-radius: 0 .2em .2em .2em;
    padding: 0;
}

.popover-list {
    padding-left: 0;
    list-style: none;
    font-size: .9em;
}

.popover-list__item {
    font-size: .9em;
    margin: 0;

    &:last-of-type {
        .btn--assign {
            border-bottom: 0;
            border-radius: 0 0 .25em .25em;
        }
    }
}

.expanded {
    .btn--popover {
        background: #888;
        padding-bottom: .8em;
        color: #fff;
        border-top: 1px solid #888;
        font-weight: 700;
        -webkit-font-smoothing: antialiased;

        &:hover, &:focus {
            color: #fff;
        }
    }
}

/*------------------------------------*\
    #MODALS
\*------------------------------------*/

.modal-bg {
    position: fixed;
    z-index: 98;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    background: rgba(0,0,0,.8);
    display: none;
    &.in {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}

.modal {
    position: absolute;
    z-index: 99;
    width: 30em;
    padding: 2em;
    border-radius: .35em;
    border: 5px solid #fff;
    background: #ddd;
    box-shadow: rgba(0,0,0,.8) 0 0 .5em;
    top: 5%;
    left: 35%;
    h2 {
        margin-top: 0;
        margin-bottom: 1em;
        text-align: center;
        text-shadow: rgba(255,255,255, .6) 0 1px 0;
    }
}



/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.btn {
    border-radius: .25em;
    @include transition(all .5s ease-out 0);
    border: 2px solid darken($primary-color, 15%);
    box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
    color: #fff;
    text-shadow: rgba(0,0,0,.3) 0 1px 0;
    -webkit-font-smoothing: antialiased;
    font-family: "Arimo", sans-serif;
    font-size: 1em;
    font-weight: 700;
    @include background-image(linear-gradient($primary-color, darken($primary-color, 7%)));
    text-transform: uppercase;
    padding: .75em 2em;
    &:hover, &:focus {
        cursor: pointer;
        outline: none;
        @include background-image(linear-gradient($primary-color, darken($primary-color, 12%)));
        box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0 inset;
        border: 2px solid darken($primary-color, 20%);
        box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
    }
}

.btn--icon {
    margin: 0;
    background: transparent;
    @include transition(all .3s ease-out 0);
    margin-bottom: 0;
    border: 0;
    padding: 0;
    text-align: left;
    display: inline-block;
    font-size: .8em;
    opacity: .3;

    &:hover, &:focus {
        outline: none;
        opacity: .6;
        cursor: pointer;
    }
}

.btn--avatar {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: .45em;
    right: .5em;
    text-align: center;
    font-size: 1em;
    z-index: 3;

    .fa {
        @include transition(all .2s ease-out 0);
        color: $primary-color;
        font-size: 1.5em;
        position: absolute;
        opacity: 0;
        top: 0;
        left: .1em;
    }

    &:hover {
        cursor: pointer;
        outline: none;

        .fa {
            opacity: .8;
        }

        .img--avatar {
            opacity: .2;
        }
    }
}

.list--utility {
    position: absolute;
    left: 45%;
    top: -2.5em;
    z-index: 3;
    margin-top: 0;
    padding: 0 .65em .1em 0.65em;
    text-align: center;
    border-radius: 0 0 .25em .25em;
    box-shadow: rgba(0,0,0,.1) 0 .1em .1em;
    background: #fff;
    @include transition(all .2s ease-out 0);

    &.in {
        top: 0;
    }
}

.list__item--utility {
    display: inline-block;
    list-style: none;
    line-height: 1.5;
    margin-left: .45em;
    &:first-of-type {
        margin-left: 0;
    }

}

.btn__text {
    font-size: .85em;
}

.btn--settings {
    position: absolute;
    left: .35em;
    top: .35em;
    z-index: 3;
    margin: 0;
    padding: 0;
}

.btn--toggle {
    text-align: center;
    opacity: 1;
    position: absolute;
    top: 2.85em;
    right: -1.75em;
    padding: 0;
    border-radius: 0 .25em .25em 0;
    background: #ccc;

    .fa {
        opacity: .4;
        padding: .5em;
    }

    &:hover {
        opacity: 1;
            .fa {
            opacity: .7;
        }
    }
}

.btn--remove {
    position: absolute;
    top: .25em;
    right: .5em;
    font-size: 1em;
    opacity: 0;
    @include transition(all .2s ease-out 0);
}

.list__item:hover {
    .btn--remove {
        opacity: .3;

        &:hover {
            opacity: .5;
        }
    }
}

.btn--popover {
    background: #fff;
    text-align: left;
    color: #ccc;
    width: 100%;
    border: 0;
    border-top: 1px dotted #ddd;
    font-family: 'Arimo', sans-serif;
    padding: .75em 1em .75em 1.25em;
    border-radius: 0 0 .25em .25em;

    &:hover, &:focus {
        color: #999;
        cursor: pointer;
        outline: none;
    }
}

.btn--assign {
    -webkit-font-smoothing: antialiased;
    border: 0;
    background: transparent;
    width: 100%;
    text-align: left;
    font-family: 'Arimo', sans-serif;
    font-size: 1.35em;
    vertical-align: middle;
    padding: .5em 1em;
    margin: 0;
    color: #fff;
    border-bottom: 1px dotted #bbb;

    &:hover {
        cursor: pointer;
        background: rgba(255,255,255,.15);
    }

    &:focus {
        outline: none;
    }
}

.btn--assign-text {vertical-align: middle;}

.btn--disabled, .btn--disabled:hover {
    opacity: 0.15;
    cursor: default;
}

.can-save {
    color: $primary-color;
    opacity: 1;
    @include transition(all .3s ease-out 0);
    &:hover {
        cursor: pointer;
        color: #444;
        opacity: 1;
    }
    &:focus {
        opacity: 1;
    }
}


/*------------------------------------*\
    #HELPERS
\*------------------------------------*/

.make-block {display: block;}

.make-inline-block {display: inline-block;}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.right {float: right;}

.full-width {width: 100%;}

.hide--drawer-out {display: none;}
