.icon:before {}

.icon-button {
    margin: 0;
    background: transparent;
    @include transition(all .3s ease-out 0);
    margin-bottom: 0;
    border: 0;
    padding: 0;
    text-align: left;
    display: inline-block;
    font-size: 1em;
    opacity: .2;
    &:hover, &:focus {
        outline: none;
        opacity: .5;
        cursor: pointer;
    }

}

.settings-button {
    position: absolute;
    left: .35em;
    top: .25em;
    line-height: 1.5;
    padding: .15em .35em .25em .35em;
    background: #eee;
}

.close-button {
    position: absolute;
    top: .35em;
    right: .5em;
}
