.popover-wrapper {
    position: relative;
}

.popover {
    position: absolute;
    width: 125%;
    z-index: 5;
    background: #999;
    margin-top: -1px;
    border-radius: 0 .2em .2em .2em;
    padding: 0;

    ul {
        padding-left: 0;
    }
    li {
        margin: 0;
        &:last-of-type {
            .assign-user-button {
                border-bottom: 0;
            }
        }
    }

}

.assign-user-button {
    -webkit-font-smoothing: antialiased;
    border: 0;
    background: transparent;
    width: 100%;
    text-align: left;
    font-family: 'Arimo', sans-serif;
    font-size: 1.35em;
    vertical-align: middle;
    padding: .75em 1em;
    margin: 0;
    color: #fff;
    border-bottom: 1px dotted #bbb;
    &:hover {
        cursor: pointer;
        background: rgba(255,255,255,.15);
    }
    &:focus {
        outline: none;
    }

}

.button-text {
    vertical-align: middle;
}
